{templateType Naja\Guide\Application\UI\Components\BasketWidget\BasketWidgetTemplate}

<div class="basketWidget">
    <a href="{plink Basket:}" class="ajax">
        <span class="basketWidget-itemsCount">{$itemsCount}</span>
        <img src="{$basePath}/assets/images/basket.svg" alt="Shopping Basket" class="basketWidget-basket">
    </a>
</div>
