extensions:
	webpack: Contributte\Webpack\DI\WebpackExtension(%debugMode%, %consoleMode%)

webpack:
	build:
		directory: %rootDir%/public/dist
		publicPath: /

	devServer:
		url: http://localhost:3000

	manifest:
		name: manifest.json
